<ion-header>
  <ion-toolbar>
    <ion-title>add-worksite
      <ion-button color="primary" class="bouton+">+</ion-button>
    </ion-title>
    
  </ion-toolbar>
  
    
</ion-header>

<ion-content>
  
  <ion-list>
      <ion-label >Nom du client</ion-label>
      <ion-input type="text" placeholder="Entrer le nom du client"></ion-input>
      
  
   
      <ion-label>Adresse du chantier</ion-label>
      <ion-input type="text" placeholder="Entrer l'adresse du chantier"></ion-input>
      
    
  
      <ion-label>Code postal</ion-label>
      <ion-input type="text" placeholder="Entrer le code postal"></ion-input>
      
    
  
      <ion-label>Ville</ion-label>
      <ion-input type="text" placeholder="Entrer la ville"></ion-input>
    
  
      <ion-label>Type de chantier</ion-label>
      <ion-input type="text" placeholder="Entrer le type de chantier"></ion-input>
    
  
      <ion-label>Attribuer à</ion-label>
      <ion-input type="text" placeholder="Entrer le nom du responsable"></ion-input>
  
    <ion-button size="large">ENREGISTRER</ion-button>
  </ion-list>
  
</ion-content>
