<ion-header class="header">
  <header>
    <ion-toolbar>
      <ion-title>description-worksite</ion-title>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content>
  <body>
    <h2>VCI Luxe SARL</h2>
    <h4>Aerien</h4>
    <h4>Adresse 57000 METZ</h4>
    <hr>
    <p>Description <Button color="primary">[Modifer]</Button></p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets Lorem Ipsum.</p>
    <h3>GESTION DES IMAGES</h3>
    <form action="/action_page.php">
      <input type="file" id="myFile" name="filename">
    </form>
    <IonRow>
      <IonCol size="4" size-sm>
        <img src="../../assets/icon/chantier.jpg">
      </IonCol>
      <IonCol size="4" size-sm>
        <img src="../../assets/icon/chantier.jpg">
      </IonCol>
      <IonCol size="4" size-sm>
        <img src="../../assets/icon/chantier.jpg">
      </IonCol>
      <IonCol size="4" size-sm>
        <img src="../../assets/icon/chantier.jpg">
      </IonCol>
      <IonCol size="4" size-sm>
        <img src="../../assets/icon/chantier.jpg">
      </IonCol>
      <IonCol size="4" size-sm>
        <img src="../../assets/icon/chantier.jpg">
      </IonCol>
    </IonRow>
  </body>
</ion-content>
