<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acceuil</ion-title>
    </ion-toolbar>
  </ion-header>

  <IonProgressBar value={0.25} buffer={0.5}></IonProgressBar><br />
  <IonProgressBar type="indeterminate"></IonProgressBar><br />
  <IonProgressBar type="indeterminate" reversed={true}></IonProgressBar><br />

  <div id="container">
    <img src="../../assets/icon/chantier.jpg">
  </div>
</ion-content>
