<ion-header>
  <ion-toolbar>
    <ion-title>list-worksite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with danger color -->
  <ion-searchbar value="Rechercher par ville" color="primary" ></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Vci luxe sarl</h3>
        </ion-text>
        <p>Aerien</p>
        <p>57000 METZ</p>
        <ion-text color="secondary">
          <p>Cédric</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Vci luxe sarl</h3>
        </ion-text>
        <p>Aerien</p>
        <p>57000 METZ</p>
        <ion-text color="secondary">
          <p>Cédric</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Vci luxe sarl</h3>
        </ion-text>
        <p>Aerien</p>
        <p>57000 METZ</p>
        <ion-text color="secondary">
          <p>Cédric</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Vci luxe sarl</h3>
        </ion-text>
        <p>Aerien</p>
        <p>57000 METZ</p>
        <ion-text color="secondary">
          <p>Cédric</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Vci luxe sarl</h3>
        </ion-text>
        <p>Aerien</p>
        <p>57000 METZ</p>
        <ion-text color="secondary">
          <p>Cédric</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
